<h1>Lista de Usuários</h1>

{{#each users}}
<p><b>Nome: </b>{{nome}}</p>
<p><b>Email: </b> {{email}}</p>
<p><b>Cidade: </b> {{cidade}}</p>
<p><b>CPF: </b> {{cpf}}</p>
<a href="/deletar/{{id}}"><Button>Deletar</Button></a>
<hr>
{{/each}}